*.class
*.classpath
*.project

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# other local files to ignore
examples/serialization/hash.ser
examples/serialization/mio.ser
examples/security/rmisslex1/resources/Client_Truststore
examples/security/rmisslex1/resources/Server.cer
examples/security/rmisslex1/resources/Server_Keystore
examples/kotlin/serialization/*.ser

out/
.idea/
