linkedlist/client
linkedlist/linkedlist_server
linkedlist/ll.h
linkedlist/ll_clnt.c
linkedlist/ll_svc.c
linkedlist/ll_xdr.c
msg/Makefile.msg
msg/msg.h
msg/msg_client.c
msg/msg_clnt.c
msg/msg_server.c
msg/msg_svc.c
msg/printmsg
msg/remote_printmsg
msg/server
sort/remote_sort
sort/sort.h
sort/sort_clnt.c
sort/sort_server
sort/sort_svc.c
sort/sort_xdr.c
thread-safe-square/client
thread-safe-square/server
thread-safe-square/square.h
thread-safe-square/square_clnt.c
thread-safe-square/square_svc.c
thread-safe-square/square_xdr.c
userlookup/client
userlookup/userlookup.h
userlookup/userlookup_clnt.c
userlookup/userlookup_server
userlookup/userlookup_svc.c
userlookup/userlookup_xdr.c
square/client
square/client_test
square/server
square/square.h
square/square_clnt.c
square/square_svc.c
square/square_xdr.c

