linkedlist/client
linkedlist/linkedlist_server
msg/printmsg
msg/remote_printmsg
msg/server
sort/remote_sort
sort/sort_server
thread-safe-square/client
thread-safe-square/server
userlookup/client
userlookup/userlookup_server
square/client
square/client_test
square/server
square/square.h
square/square_clnt.c
square/square_svc.c
square/square_xdr.c
